* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffae6b;
}

.container {
    display: grid;
    grid-template-areas:
        "top-bar top-bar top-bar"
        "side-bar content1 content2"
        "side-bar content3 content4"
        "side-bar content5 content6";
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 80px auto auto auto;
    height: 100vh;
    width: 100vw;
    gap: 10px;
}

.top-bar {
    grid-area: top-bar;
    background-color: #ffd89d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 230, 0);
    padding: 10px;
}

.logo {
    background-color: #ffbe68;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.side-bar {
    grid-area: side-bar;
    background-color: #ffd092;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.button {
    background-color: #ffb560;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
	border-radius: 8px;
	transition: 0.5s ease-in-out;
}

.button:hover {
	background-color: #ed9f45;
}
.link {
	color: white;
	text-decoration: none;
}



.content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    height: 200px;
    width: 600px;
}

#content1 { grid-area: content1; }
#content2 { grid-area: content2; }
#content3 { grid-area: content3; }
#content4 { grid-area: content4; }
#content5 { grid-area: content5; }
#content6 { grid-area: content6; }
